@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);.w3-card-4,
.w3-hover-shadow:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.w3-light-grey,
.w3-hover-light-grey:hover,
.w3-light-gray,
.w3-hover-light-gray:hover {
  color: #000 !important;
  background-color: #3c8dbc !important;
  border-top-left-radius: 50px !important;
  border-top-right-radius: 50px !important;
}

.w3-container,
.w3-panel {
  padding: 0.01em 16px;
}

.w3-block {
  display: block;
  width: 100%;
}

.w3-btn,
.w3-button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.w3-btn,
.w3-button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

.accordion {
  background-color: #3c8dbc;
  color: #b8c7ce;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #0d6aa1;
}

.accordion:after {
  content: '+';
  color: #b8c7ce;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.select2-selection__choice {
  background-color: #174873 !important;
  border-radius: 0 !important;
}

.select2-selection__choice__remove {
  color: #e6e5e5 !important;
}

.select2-selection--multiple {
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  border-radius: 0 !important;
}

.select2-selection--single {
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  border-radius: 0 !important;
}

.select2-selection__rendered {
  line-height: 20px !important;
  padding-left: 0px !important;
}

.locations-thumbnail {
  display: block;
  height: 50px;
  width: auto;
  padding: 1px;
  border-radius: 0;
  border: 1px solid #ddd;
}

.dt-buttons {
  top: 75px;
  padding-bottom: 5px;
}

#locations-table_filter label,
#ftthLocations-table_filter label,
#ftthApplications-table_filter label,
#packagesLookups-table_filter label,
#users-table_filter label {
  font-size: 1.7rem;
  font-weight: 800;
  margin-bottom: 30px;
  text-align: left;
  width: 100%;
  color: #337ab7;
}

#locations-table_filter label input,
#ftthLocations-table_filter label input,
#ftthApplications-table_filter label input,
#packagesLookups-table_filter label input,
#users-table_filter label input {
  width: 90%;
}

.pagination {
  float: right;
  margin: 0;
}