@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);.select2-selection__choice {
  background-color: #174873 !important;
  border-radius: 0 !important;
}

.select2-selection__choice__remove {
  color: #e6e5e5 !important;
}

.select2-selection--multiple {
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  border-radius: 0 !important;
}

.select2-selection--single {
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  border-radius: 0 !important;
}

.locations-thumbnail {
  display: block;
  height: 50px;
  width: auto;
  padding: 1px;
  border-radius: 0;
  border: 1px solid #ddd;
}

.dt-buttons {
  top: 75px;
  padding-bottom: 5px;
}

#locations-table_filter label,
#ftthLocations-table_filter label,
#ftthApplications-table_filter label,
#packagesLookups-table_filter label,
#users-table_filter label {
  font-size: 1.7rem;
  font-weight: 800;
  margin-bottom: 30px;
  text-align: left;
  width: 100%;
  color: #337ab7;
}

#locations-table_filter label input,
#ftthLocations-table_filter label input,
#ftthApplications-table_filter label input,
#packagesLookups-table_filter label input,
#users-table_filter label input {
  width: 90%;
}

.pagination {
  float: right;
  margin: 0;
}