.button-flex{
    display: flex;
    justify-content: space-between;
}

.modal-footer-ftth{
    text-align: center;
}

.modal-header-ftth{
    padding: 15px;
}

.icon-size{
    font-size: 15px !important; 
}

.locations-thumbnail{
        display: block;
        height: 50px;
        width: auto;
        padding: 1px;
        border-radius: 0;
        border: 1px solid #ddd;
}