.button-flex{
    display: flex;
    justify-content: space-between;
}

.modal-footer-ftth{
    text-align: center;
}

.modal-header-ftth{
    padding: 15px;
}

.icon-size{
    font-size: 15px !important; 
}