.index-page .header-filter:after {
    background: rgba(101, 47, 142, 0.64);
    background: linear-gradient(5deg, rgba(#fff, 0.7) 10%, rgba(#ed1c24, 0.45) 100%);
}
.footer{
    background: darken(#fff,4%);
}